body {
    background-color: transparent;
}

#rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;

}

section {
    padding: 20%;
    margin-bottom: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
}

.restart-button {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 150%;
    border: 2px solid orange;
    background-color: orangered;
}

h1 {
    background-color: transparent;
    color: white;
    font-size: 350%;
    font-weight: bold;
}